[[source]]
url = "${KRUX_PIP_PROP_URL}"
verify_ssl = true
name = "kruxprop"

[[source]]
url = "${KRUX_PIP_FOSS_URL}"
verify_ssl = true
name = "kruxfoss"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
krux-stdlib = "==4.0.1"
marathon = "==0.12.0"

[requires]
python_version = "3.6"
