[[source]]
url = "${KRUX_PIP_PROP_URL}"
verify_ssl = true
name = "kruxprop"

[[source]]
url = "${KRUX_PIP_FOSS_URL}"
verify_ssl = true
name = "kruxfoss"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
krux-stdlib = {index="kruxfoss", version="==5.0.1"}
marathon = {index="pypi", version="==0.13.0"}

[requires]
python_version = "3.6"
